<%- include("partials/header") -%>
    <h1>Compose</h1>
    <form class="" action="/compose" method="post">
      <div class="form-group"
      <label>Title</label>
      <input type="text" name="compose" class="form-control">

      <label>Post</label>
      <textarea name="name" class="form-control" rows="8" cols="80"></textarea>

      <button type="submit" name="button" class="btn btn-primary" >Publish</button>
      </div>
    </form>
   <%-include("partials/footer")-%>
